#signin {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
    border: solid;
    width: 21%;
    margin-left: 38%;
}

#totalbody {
    background: rgb(17, 19, 31);
    color: white;
}
#signinthingy {
    background: rgb(17, 19, 31);
    color: white;
    border: solid;
    width: 21%;
    margin-left: 36%;
    margin-top: 18%;

}


h1 {
    font-family: 'Abril Fatface', cursive;
}

h2 {
    font-family: 'Dancing Script', cursive;
}

h3 {
    font-family: 'Cormorant Garamond', serif;
}

#instruction {
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
}

#cardpage {
    background: linear-gradient(#121535, #75878f);
}

#guess {
    text-align: center;
    margin-top: 25%;
}

#register {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
    border: solid;
    width: 46%;
    margin-left: 26%;
}


#nextbutton {
    margin-top: 3%;
    margin-left: 45%;
    margin-bottom: 3%;
    padding: 10px;
    color: whitesmoke;
    background-color: rgb(186, 223, 230);
    cursor: pointer;
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    font-size: 14pt;
}

#signupbutton {
    margin-top: 2%;
    margin-bottom: 3%;
    padding: 10px;
    color: whitesmoke;
    background-color: rgb(186, 223, 230);
    cursor: pointer;
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    font-size: 14pt;
}

a {
    text-decoration: none;
}

#signintext {
    margin-left: 28%;
}

#guessbutton {
    margin-top: 5%;
    padding: 10px;
    color: whitesmoke;
    background-color: rgb(186, 223, 230);
    cursor: pointer;
    font-family: 'Dancing Script', cursive;
    font-size: 14pt;
}

#babybutton {
    margin-top: 5%;
    padding: 10px;
    color: whitesmoke;
    background-color: rgb(186, 223, 230);
    cursor: pointer;
    text-decoration: none;
    width: 10%;
    font-family: 'Dancing Script', cursive;
    font-size: 25pt;
}
#loginbutton {
    margin-top: 5%;
    padding: 10px;
    color: whitesmoke;
    background-color: rgb(186, 223, 230);
    cursor: pointer;
    font-family: 'Dancing Script', cursive;
    font-size: 14pt;
    margin-left: 38%;
    margin-bottom: 2%;
}


#loading {
    text-align: center;
    margin-top: 25%;
    overflow: hidden;
    font-size: 200%;
    
}

.loadingbuttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#loading1 {
    overflow: hidden; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
      typing 3.5s steps(40, end);
}

#loading2 {
    overflow: hidden; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation-delay: 6.5s;
    width: 65%;
    animation: 
      typing2 3.5s steps(40, end);
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes typing2 {
    from { width: 0 }
    to { width: 65% }
  }

@keyframes colorflash {
    0% {background: linear-gradient(#f7de00, #fcfbd7ec)}
    25% {background: linear-gradient(#fae848, #f5f4adec)}
    50% {background: linear-gradient(#fff27e, #eceb9cec)}
    75% {background: linear-gradient(#f1eaaa, #fffd79ec)}
    100% {background: linear-gradient(#fcfae9, #fcf810ec)}
}


.card {
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
background-color: black;
transition: 1.3s;
width: 65%;
padding: 2%;
color: whitesmoke;
margin-top: 2%;
border-radius: 25px;
cursor: pointer;
margin-left: 15%;
}

.card:hover {
box-shadow: 0 30px 40px 0 rgba(0,0,0,0.2);
}

.cardselect {
background: linear-gradient(#fcfae9, #fcf810ec);
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 1.3s;
width: 65%;
margin-left: 15%;
padding: 2%;
color: black;
margin-top: 2%;
border-radius: 25px;
cursor: pointer;
animation: colorflash .5s;
}

#cardisolate {
    color: blue;
}

.container {
padding: 2px 16px;
text-align: center;
}

.cardgrid {
    display: grid;
    grid-template-columns: auto auto auto;
}

#progressBar {
    margin-left: 17%;
    padding: 14%;
}

#progressBar2 {
    margin-left: 42.4%;
    padding: 2%;
    width: 15%;
}

#progressBar3 {
    padding: 3%;
    width: 15%;
}

#username {
    margin-left: 15%;
}


#password {
    margin-left: 15%;
}




  @media all and (max-width: 800px) {
    #loading {
        text-align: center;
        margin-top: 55%;
        overflow: hidden;
        font-size: 130%;
    }
    #loading2 {
        font-size: 26pt;
    }
    #babybutton {
    width: 35%;
    font-family: 'Dancing Script', cursive;
    font-size: 35pt;
    }
    #signin {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 28%;
        border: solid;
        width: 55%;
        margin-left: 24%;
    }
    #signintext {
        margin-left: 1%;
        font-size: 67pt;
        text-align: center;
    }

    #loginbutton {
        margin-top: 5%;
        padding: 10px;
        color: whitesmoke;
        background-color: rgb(186, 223, 230);
        cursor: pointer;
        font-family: 'Dancing Script', cursive;
        font-size: 45pt;
        margin-left: 23%;
        margin-bottom: 8%;
    }
    #username {
        margin-left: 18%;
    }
    #password {
        margin-left: 18%;
    }
    #register {
        text-align: center;
        margin-top: 12%;
        margin-bottom: 5%;
        border: solid;
        width: 72%;
        font-size: 22pt;
        margin-left: 14%;
    }
    #Fullname {
        margin-bottom: 2%;
    }

    #signupbutton {
        margin-top: 9%;
        margin-bottom: 10%;
        padding: 10px;
        color: whitesmoke;
        background-color: rgb(186, 223, 230);
        cursor: pointer;
        text-decoration: none;
        font-family: 'Dancing Script', cursive;
        font-size: 38pt;
    }
    #nextbutton {
        margin-left: 43%;
    }
    #guess {
        text-align: center;
        margin-top: 50%;
        font-size: 20pt;
    }
    #guessbutton {
        font-size: 34pt;
    }

#progressBar {
    margin-left: 20%;
    padding: 14%;
}

#progressBar2 {
    margin-left: 40%;
    padding: 7%;
}

#progressBar3 {
    margin-left: 0%;
    padding: 4%;
    width: 38%;
}
  
}

@media all and (max-width: 400px) {
    #signin {
        margin-top: 30%;
        border: solid;
        width: 70%;
        margin-left: 16%;
    }
    
    #loading {
        margin-top: 70%;
        font-size: 60%;
    }
    #loading2 {
        font-size: 172%;
    }
    #babybutton {
        font-size: 20pt;
        width: 45%;
    }
    #loginbutton {
        margin-bottom: 8%;
        font-size: 35pt;
        margin-left: 26%;
    }
    #signintext {
        font-size: 40pt;
        text-align: center;
    }
    #username {
        margin-left: 16%;
    }
    #password {
        margin-left: 16%;
    }
    #register {
        text-align: center;
        margin-top: 18%;
        margin-bottom: 5%;
        border: solid;
        width: 83%;
        margin-left: 8%;
        font-size: 12pt;
    }
    #signupbutton {
        margin-top: 8%;
        margin-bottom: 8%;
    
    }
    #cardpage {
        background: linear-gradient(#121535, #75878f);
        width: 100%;
    }
    .card {
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
        background-color: black;
        transition: 1.3s;
        width: 85%;
        padding: 7%;
        color: whitesmoke;
        margin-top: 2%;
        border-radius: 25px;
        cursor: pointer;
        margin-left: 6%;
    }
    .container {
        padding: 2px 5px;
        text-align: center;
    }
    #nextbutton {
    margin-left: 37%;
    }
    .cardselect {
        background: linear-gradient(#fcfae9, #fcf810ec);
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
        transition: 1.3s;
        width: 85%;
        margin-left: 6%;
        padding: 7%;
        color: black;
        margin-top: 2%;
        border-radius: 25px;
        cursor: pointer;
        animation: colorflash .5s;
    }
    #guess {
        text-align: center;
        margin-top: 50%;
    }

    #progressBar {
        margin-left: 18%;
        padding: 9%;
    }
#progressBar2 {
    margin-left: 28%;
    padding: 14%;
}
#progressBar3 {
    margin-left: 1%;
    padding: 9%;
    width: 45%;
}
  }