<!DOCTYPE html>
<html>
    <title>Who Is Human?</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cormorant+Garamond:wght@300&family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/assets/images/favicon-16x16.png">
    <link rel="manifest" href="../static/assets/images/site.webmanifest">
    <script src="../static/script.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <body id="totalbody">
        {% block content %}
        {%endblock%}
    </body>
</html>