<!DOCTYPE html>
<html>
    <title>Who Is Human?</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cormorant+Garamond:wght@300&family=Dancing+Script&display=swap" rel="stylesheet">
    <script src="../static/script.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <body id="totalbody">
        {% block content %}
        {%endblock%}
    </body>
</html>