{%extends 'base.html'%}
{% block content %}
<body onload="shuffledeck()">
<div id="cardpage">
<div class="cardgrid" id="cardgrid">
<button class="card" id="card" onclick="cardselect()" value="fake">
<img src="{{faceinfolist[0]['picture']}}" style="width: 100%;">
<div class="container">
    <h4><b>{{faceinfolist[0]['name']}}</b></h4> 
    <p>{{faceinfolist[0]['age']}}</p> 
    <p>{{faceinfolist[0]['job']}}</p>
  </div>
</button>
<button class="card" id="card2" onclick="cardselect2()" value="fake">
<img src="{{faceinfolist[1]['picture']}}" style="width: 100%;">
<div class="container">
    <h4><b>{{faceinfolist[1]['name']}}</b></h4> 
    <p>{{faceinfolist[1]['age']}}</p> 
    <p>{{faceinfolist[1]['job']}}</p>
  </div>
</button>
<button class="card" id="card3" onclick="cardselect3()" value="fake">
<img src="{{faceinfolist[2]['picture']}}" style="width: 100%;">
<div class="container">
    <h4><b>{{faceinfolist[2]['name']}}</b></h4> 
    <p>{{faceinfolist[2]['age']}}</p> 
    <p>{{faceinfolist[2]['job']}}</p>
  </div>
</button>
<button class="card" id="card4" onclick="cardselect4()" value="fake">
<img src="{{faceinfolist[3]['picture']}}" style="width: 100%;">
<div class="container">
    <h4><b>{{faceinfolist[3]['name']}}</b></h4> 
    <p>{{faceinfolist[3]['age']}}</p> 
    <p>{{faceinfolist[3]['job']}}</p>
  </div>
</button>
<button class="card" id="card5" onclick="cardselect5()" value="fake">
<img src="{{faceinfolist[4]['picture']}}" style="width: 100%;">
<div class="container">
    <h4><b>{{faceinfolist[4]['name']}}</b></h4> 
    <p>{{faceinfolist[4]['age']}}</p> 
    <p>{{faceinfolist[4]['job']}}</p>
    </div>
</button>
<button class="card" id="card6" onclick="cardselect6()" value="real">
<img src="{{humanface}}" style="width: 100%;">
<div class="container">
    <h4><b>{{faceinfolist[5]['name']}}</b></h4> 
    <p>{{faceinfolist[5]['age']}}</p> 
    <p>{{faceinfolist[5]['job']}}</p>
    </div>
</button>
<button class="card" id="card7" onclick="cardselect7()" value="fake">
    <img src="{{faceinfolist[6]['picture']}}" style="width: 100%;">
    <div class="container">
        <h4><b>{{faceinfolist[6]['name']}}</b></h4> 
        <p>{{faceinfolist[6]['age']}}</p> 
        <p>{{faceinfolist[6]['job']}}</p>
        </div>
    </button>
<button class="card" id="card8" onclick="cardselect8()" value="fake">
    <img src="{{faceinfolist[7]['picture']}}" style="width: 100%;">
    <div class="container">
        <h4><b>{{faceinfolist[7]['name']}}</b></h4> 
        <p>{{faceinfolist[7]['age']}}</p> 
        <p>{{faceinfolist[7]['job']}}</p>
        </div>
    </button>
<button class="card" id="card9" onclick="cardselect9()" value="fake">
    <img src="{{faceinfolist[8]['picture']}}" style="width: 100%;">
    <div class="container">
        <h4><b>{{faceinfolist[8]['name']}}</b></h4> 
        <p>{{faceinfolist[8]['age']}}</p> 
        <p>{{faceinfolist[8]['job']}}</p>
        </div>
    </button>
</div>

<button id="nextbutton" onclick="sendguess()">Submitguess</button>
<form id="guessform" method="POST">
    <input type='hidden' id='hiddenField' name='id' value='' />
    <!-- <a href="/guess"> -->
        <p>Submit Guess</p>
    <!-- </a> -->
</form>
</div>
</body>
{% endblock %} 