{%extends 'base.html'%}
{% block content %}
<body id="loadingbody">
<div id="loading page">
<div id="loading">
    <h2 id="loading1">One of the following people is an actual human.</h2>
    <div>
        <h3 id='loading2'>Can you guess which one?</h3>
    </div>
    </div>
    <div class="loadingbuttons">
    <button id="babybutton">
        <a href="/register">Register
        </a>
    </button>
    <button id="babybutton">
        <a href="/signin">Sign In
        </a>
    </button>
    </div>
</div>
</body>
{% endblock %} 